<form>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">O seu endereço de e-mail</div>
    </div>
    <div class="mb-3">
        <label for="inputSubject" class="form-label">Assunto</label>
        <input type="text" class="form-control" id="inputSubject" aria-describedby="subjectHelp">
        <div id="subjectHelp" class="form-text">Assunto do e-mail</div>
    </div>
    <div class="mb-3">
        <label for="inputMessage" class="form-label">Mensagem</label>
        <input type="text" class="form-control" id="inputMessage" aria-describedby="messageHelp">
        <div id="messageHelp" class="form-text">Mensagem</div>
    </div>
    <button type="submit" class="btn btn-primary">Submeter</button>
</form>