<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1" href="/"></a>
        <span class="text-muted">
          2021, {{ site.title | escape }}{% if site.email %} - <a class="text-muted" href="mailto:{{ site.email }}">{{ site.email }}</a>{% endif %}
        </span>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <p class="text-muted">{{- site.description | escape -}}</p>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        {% include social.html %}
      </div>
      <div class="col-md-4 d-flex">
        {% include contact-form.html %}
      </div>
    </div>
  </div>
</footer>