<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% for item in site.menus.header %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == item.url %} active" aria-current="page{%- endif -%}" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
