<div class="card shadow-sm">
  <a href="{{ url | relative_url }}">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#55595c"></rect>
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
    </svg>
  </a>
  <div class="card-body">
    <p class="card-text lead"><a href="{{ url | relative_url }}">{{ include.title }}</a></p>
    <p class="card-text">{{ include.description | markdownify }}</p>
  </div>
</div>