<section class="py-5 text-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ page.title }}</h1>
    <div class="col-lg-6 mx-auto">
      {% if page.short-description %}
        <p class="lead mb-4">{{ page.short-description | markdownify }}</p>
      {% endif %}
    </div>
    {% if page.cover-video%}
    <div class="overflow-hidden" stlye="max-height: 30vh;">
        <div class="container px-5">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube-nocookie.com/embed/JhNxNAlocFc" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
            ></iframe>
        </div>
    </div>
    {% elsif page.cover-image%}
    <div class="overflow-hidden" stlye="max-height: 30vh;">
        <div class="container px-5">
            <img 
                class="img-fluid border rounded-3 shadow-lg mb-4" 
                src="/assets/img/{{ page.cover-image }}" 
                alt="{{ page.title }} banner image" 
                loading="lazy" 
                width="700" 
                height="500"
            >
        </div>
    </div>
    {% endif %}
  </div>
</section>