<section class="py-5 text-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">{{ page.title }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{ content }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {% if page.main_cta %}
          <button class="btn btn-primary btn-lg px-4 gap-3" type="button">{{ page.main_cta.text }}</button>
        {% endif %}
        {% if page.secondary_cta %}
          <button class="btn btn-outline-secondary btn-lg px-4" type="button">{{ page.secondary_cta.text }}</button>
        {% endif %}
      </div>
    </div>
  </div>
</section>