{% if include.products.size > 0 %}
  <section class="py-5 bg-light">
    <div class="container">
      {% if include.bookable_title %}
        <h2>{{ include.bookable_title }}</h2>
      {% endif %}
      {% assign bookable_items = include.products | where: 'bookable', true %}
      {% assign non_bookable_items = include.products | where: 'bookable', false %}
      {% if bookable_items.size > 0 %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for item in bookable_items  %}
            {% capture url %}{{ item.url }}{% endcapture %}
            <div class="col">
              {% include item-card.html title=item.title  url=url description=item.short-description %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if non_bookable_items.size > 0 %}
        {% if include.non_bookable_title %}
            <h3>{{ include.non_bookable_title }}</h3>
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for item in non_bookable_items  %}
            {% capture url %}{{ item.url }}{% endcapture %}
            <div class="col">
              {% include item-card.html title=item.title url=url description=item.short-description %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}