{%- assign social = site.data.social -%}
<ul class="text-centered list-inline">
  {%- if social.facebook -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.facebook }}"><i class="bi bi-facebook" role="img" aria-label="Facebook" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.github -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.github }}"><i class="bi bi-github" role="img" aria-label="GitHub" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.instagram -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.instagram }}"><i class="bi bi-instagram" role="img" aria-label="Instagram" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.linkedin -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.linkedin }}"><i class="bi bi-linkedin" role="img" aria-label="LinkedIn" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.twitter -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.twitter }}"><i class="bi bi-twitter" role="img" aria-label="Twitter" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.google -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.google }}"><i class="bi bi-google"role="img" aria-label="Google" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.youtube -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.youtube }}"><i class="bi bi-youtube"role="img" aria-label="YouTube" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.twitch -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.twitch }}"><i class="bi bi-twitch"role="img" aria-label="Twitch" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.telegram -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.telegram }}"><i class="bi bi-telegram"role="img" aria-label="Telegram" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.whatsapp -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.whatsapp }}"><i class="bi bi-whatsapp"role="img" aria-label="WhatsApp" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.discord -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.discord }}"><i class="bi bi-discord"role="img" aria-label="Discord" style="font-size: 2rem;"></i></a></li>{%- endif -%}
  {%- if social.slack -%}<li class="list-inline-item"><a rel="me" class="text-muted" href="{{ social.slack }}"><i class="bi bi-slack"role="img" aria-label="Slack" style="font-size: 2rem;"></i></a></li>{%- endif -%}
</ul>
