<!doctype html>
<html class="h-100" lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="d-flex flex-column h-100">
      {% include header.html %}
      <main class="flex-shrink-0" aria-label="Content">
          <div class="container-fluid">
              {{ content }}
          </div>
      </main>
      {% include footer.html %}
      <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
