---
layout: default
---

{% include item-page-hero.html %}

<section class="py-5 bg-light">
<div class="container">
    <div class="row">
        <div class="col-9">
            {{ content }}
        </div>
        {% if page.credits %}
        <div class="col">
            <h4>Ficha Técnica</h4>
            <ul class="list-group"></ul>
            {% for item in page.credits %}
              {% assign key = item | split: ":" | first %}
              {% assign value = item | split: ":" | last %}
              <li class="list-group-item"><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</section>
