---
layout: default
---

<section class="py-5">
  <div class="px-4 py-5 my-5">
    <div class="container">
      <h1 class="display-1">{{ page.title }}</h1>
      <p class="lead text-muted">{{ page.lead }}</p>

      {{ content }}


    </div>

  </div>
</section>
<section class="py-5">
    <div class="container">
      {%- if site.destaques.size > 0 -%}
        <h2>Destaques</h2>
        <ul>
          {%- for destaque in site.destaques -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ destaque.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ destaque.url | relative_url }}">
                {{ destaque.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ destaque.excerpt }}
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
  </div>
</section>