---
layout: default
---

<section class="py-5 bg-secondary">
    <div class="px-4 py-5 my-5">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6"></div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">{{ page.title }}</h1>
                    <p class="lead">{{ page.lead }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
  <div class="container">{{ content }}</div>
</section>